<!DOCTYPE html>
<html>
<head>
  <title>Notas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <% if user_signed_in? %>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
          data-toggle="collapse" data-target="#navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Notas', notes_path , class: "navbar-brand" %>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <%= link_to t('actions.create_note'), new_note_path, class: "btn btn-success navbar-btn navbar-left" %>
        <%= form_tag search_notes_path, method: :get, class: 'navbar-form navbar-left' do %>
        <div class="input-group">
          <%= text_field_tag :query, params[:query], class: 'form-control', placeholder: t('placeholders.search_notes') %>
          <span class="input-group-btn">
            <%= button_tag id: 'search', type: 'submit', class: 'btn btn-primary', name: nil do %>
              <span class="glyphicon glyphicon-search"></span>
            <% end %>
          </span>
        </div>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t('actions.log_out'), destroy_user_session_path, method: :delete %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <% end %>
  <div class="container">
    <% if flash[:notice] %>
    <div class="alert alert-success alert-dismissible">
      <button type="button" class="close" data-dismiss="alert">
        <span>&times;</span>
      </button>
      <%= simple_format flash[:notice] %>
    </div>
    <% end %>
    <% if flash[:alert] %>
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert">
        <span>&times;</span>
      </button>
      <%= simple_format flash[:alert] %>
    </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
